    ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}







    .col-1  {width:   8.33%; border:4px solid white;}
    .col-2  {width:  16.66%; border:4px solid white;}
    .col-3  {width:  25.00%; border:4px solid white;}
    .col-4  {width:  33.33%; border:4px solid white;}
    .col-5  {width:  41.66%; border:4px solid white;}
    .col-6  {width:  50.00%; border:4px solid white;}
    .col-7  {width:  58.33%; border:4px solid white;}
    .col-8  {width:  66.66%; border:4px solid white;}
    .col-9  {width:  75.00%; border:4px solid white;}
    .col-10 {width:  83.33%; border:4px solid white;}
    .col-11 {width:  91.66%; border:4px solid white;}
    .col-12 {width: 100.00%; border:4px solid white;}

* {
	box-sizing: 			border-box;
	margin: 				0;
	text-align: 			center;
	font-family: 			sans-serif;
	font-size: 				1em;
	padding: 				5px;
}

html, body  { height: 100vh; }  /* 100% of Viewport Height      */
#header   { height:  10vh; }  /* header gets some height        */
#mapDiv   { height:  90vh; }  /* map gets some height           */

/* styles to make it look nice, not required for functionality    */
#header   { background-color: black; }

h1.tempeCampus {
  text-align:   center;   /* centered left-right        */
  vertical-align: center;   /* centered top-bottom              */
  color:      white;    /* white font color                 */
  font-family:  sans-serif; /* modern look                      */
  font-size:    8vh;    /* 8% Vertical Height responsive!   */
                /* font will take up 8%, 1% pad top */
                /* since container is 10%           */
}

body.tempeCampus {
	background-color: black;
	color: white;
	padding-top: 15vh;
}

img {
	height: 15vh;
}
input {
	margin: 5px;
}
button {
	margin: 10px;
}
h1 {
	margin: 40px;
	font-size: 25px;
}
input[type="checkbox"]{
	zoom: 2;
}
.bigButtons {
	width: 30%;
	padding: 2%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
ul.tab {
    list-style-type:      none;
    margin:               0;
    padding:              0;
    overflow:             hidden;
    border:               1px solid #ccc;
    background-color:     white;
    height:               9vh;
    xpadding-left:         15%;
    xpadding-right:        15%;
}

/* Float the list items side by side */
ul.tab li {
  float: left;
  
}

/* Style the links inside the list items */
/*ul.tab li a {
    display:          inline-block;
    color:            black;
    text-align:       center;
    padding:          1em;
    text-decoration:  none;
    transition:       0.3s;
    font-size:        1em;

}*/

/* Change background color of links on hover */
ul.tab li a:hover {
  background-color:     #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color:   grey;
}

/* Style the tab content */
.tabContent {

    display:         none;
    padding:         6px 12px;
    height:          92vh;
}   
ul {
  background-color: black;
  text-align: center;
}


#tabSystem {
    height: 30%;
}

.tabTable {
  margin: auto;
  xdisplay: table;
}

    /* For phones (portrait) unless another @media rule below is fired */
    @media only screen and (max-width: 499px) {
      .col-sm-00  {display:        none; } 
      .col-sm-12  {width:        100%; }
      body    {background-color: black;}
      [class*="col-sm-"] {
        border:     4px solid black;
      }
      .menu p { display: inline; }

      xul {
        display: inline-block;
      }
    }

    /* For medium screens (e.g. landscape phones and portrait tablets) */
    @media only screen and (min-width: 500px) {
      .col-md-00  {display:        none; }
      .col-md-01  {width:       8.33%; }
      .col-md-02  {width:      16.66%; }
      .col-md-03  {width:      25.00%; }
      .col-md-04  {width:      33.33%; }
      .col-md-05  {width:      41.66%; }
      .col-md-06  {width:      50.00%; }
      .col-md-07  {width:      58.33%; }
      .col-md-08  {width:      66.66%; }
      .col-md-09  {width:      75.00%; }
      .col-md-10  {width:      83.33%; }
      .col-md-11  {width:      91.66%; }
      .col-md-12  {width:     100.00%; }
      body    {background-color: grey;}
      [class*="col-md-"] {
        border:     4px solid grey;
      }

      xul {
        display: inline-block;
      }
    }
div.mapDiv {

}
html, body  { height: 100vh; }  /* 100% of Viewport Height      */
#header   { height:  10vh; }  /* header gets some height        */
#mapDiv   { height:  90vh; }  /* map gets some height  
